@{
    ViewData["Title"] = "AccesoDenegado";
}


<div class="text-center text-white" style="background-color:black">
    <h1>Su usuario no tiene los permisos suficientes</h1>

    <img src="~/img/logos/accesoDenegado.png" />
</div>

