@model List<Persona>

@{
    ViewData["Title"] = "Pagina Principal";    
}

<div class="text-center">
    @foreach (Persona persona in Model)
    {
        <p>El nombre de este buen señor es: @persona.NombreCompleto</p>
    }
</div>










