@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(@ViewBag.Mensaje))
{
<p class="badge badge-warning">
    @ViewBag.Mensaje
</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
