@model IEnumerable<Persona>
@{
    Persona supervisor = ViewBag.Supervisor;
 }

<h1>Index de Personas controller</h1>

<div class="card">
    <div class="card-header">
        Nombre del supervisor
    </div>
    <div class="card-body">
        @supervisor.Nombre
        @supervisor.Apellido
    </div>
</div>


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                Apellido
            </th>
            <th>
                Nombre
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Persona persona in Model)
        {
            <tr>
                <td>
                    @persona.Apellido
                </td>
                <td>
                    @persona.Nombre
                </td>
            </tr>
        }
    </tbody>    
</table>


